
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    background:  #ffffff
       position: relative;
  background-size: cover;



}

html::after{
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;

}

nav{

    margin: 0;
    /*! overflow: hidden; */
    border-bottom: 40px solid grey;
    padding: .5px;

    background: #f7f791;
    }

#nav {
    /*! text-align: justify; */
    font-family: 'Neucha', cursive;
    font-size: 50px;
    color: #6f6870;
    /*! float: left; */
    margin: 50px;


    }

#nav:after {
    /*! content: ''; */
    /*! display: inline-block; */
    /*! width: 100%; */
}

#nav li {
    display: inline-block;
    padding: 5px;

}



.logo{

   float: left;
}

#child1{
    display: inline-block;
    height: auto;
    max-width: 100%;

}

@media all and (max-width: 399px){
    #child1

}

#child2{
    display: inline-block;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

#myfooter{

    background color: peachpuff;
    height: 20px;
    width: 100%;
    color: #c962d8;
}


figure{
    position: relative;
    text-align: center;
    height: 400px;
    overflow: hidden;
}

figcaption{
    position: relative;
    bottom: 65px;
    color: #6f6870;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 2px #372d39;


}

.slick-dots li button{
    background: #6f6870;

}

h1 {
    font-family: 'Rancho', cursive;
    color: #6f6870;
    font-size: 28px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    letter-spacing: 1.5px;
}

#mainp {
    width: 100%;
    color:#F8ACD2;
    text-align: center;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

}

main {
    font-family: 'Merienda', cursive;
}

h2{
    color: #6f6870;
    text-align: center;
    text-shadow: 2px 2px #c1bac2;
    font-size: 40px;
    text-decoration: underline;

}

#about {
    text-align: left;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

#myfooter {
    color: #080508;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Merienda', cursive;

}

.formbody {
  padding-top:25px;
  background-color:#454545;
  margin-left:10px;
  margin-right:10px;
}
.container {
  max-width:600px;
  margin:0 auto;
  text-align:center;
  border-radius:6px;
  border-radius:6px;
  border-radius:6px;
  background-color:#FAFAFA;
}
.head {
  border-radius:6px 6px 0px 0px;
  border-radius:6px 6px 0px 0px;
  border-radius:6px 6px 0px 0px;
  background-color:#6f6870;
  color:#FAFAFA;
}
.contact {
  text-align:center;
  padding:18px 0 18px 0;
  font-size: 2.4em;
    color: #FAFAFA;
}
input {
  margin-bottom:10px;
}
textarea {
  height:100px;
  margin-bottom:10px;
}
input:first-of-type
{
  margin-top:35px;
}
input, textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro',arial,sans-serif;
  border: 1px solid #cecece;
  background: #d7d7d7;
  color:#FAFAFA;
  border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
  background-clip: padding;
  background-clip: padding-box;
  background-clip: padding-box;
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}
::-input-placeholder {
   color: #FAFAFA;
}
:-moz-placeholder {
   color: #FAFAFA;
}
::-moz-placeholder {
   color: #FAFAFA;
}
:-ms-input-placeholder {
   color: #FAFAFA;
}
button {
  margin-top:15px;
  margin-bottom:25px;
  background-color:#6f6870;
  padding: 12px 45px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c1bac2;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:30%;
  color:#fff;
}
button:hover, .button:hover {
  background:#c1bac2;
}
label.error {
    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:1em;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#d89c9c;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    border-radius:6px;
    border-radius:6px;
    border-radius:6px;
}
/* media queries */
@media (max-width: 700px) {
  label.error {
    width: 90%;
  }
  input, textarea {
    width: 90%;
  }
  button {
    width:90%;
  }
  body {
  padding-top:10px;
  }
}
.message {
    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#c1bac2;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    border-radius:6px;
    border-radius:6px;
    border-radius:6px;
}

nav ul a{
    color: grey;
    text-decoration: none;
    padding: 20px;
    border-bottom: 2px solid transparent;
}
nav ul a:hover{
    border-color: grey;
}
